dist-kawa.jar
classes-rt.list
classes.list
configure
config.log
config.status
*.class
*~
kawa-jar.stamp
kawa*.tar.gz
kawa-*.zip
Makefile
Makefile.in
*-classes.stamp
patch-source-list
*.info*
selected-java-source
tmp-sources1.list
kawa-*/bin
kawa-*/doc
kawa-*/lib
META-INF/
autom4te.cache/
bin/aclocal.m4
bin/kawa.bat
bin/kawa.sh
bin/kawa
bin/qexo
doc/kawa-manual.epub
doc/kawa.xml
doc/ebook
doc/kawa.1
doc/qexo.1
doc/stamp-vti
doc/version.texi
doc/web
kawa/Version.java
lib/
testsuite/scribble.html
